<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ivan_bakach.testpermission">

    <application
        android:name="com.example.ivan_bakach.testpermission.CoreApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.ViewPagerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MultipleFragmentsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".app.ViewPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ViewPagerActivity" />
        </activity>
        <activity
            android:name=".app.ActivityWithoutFragments"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:parentActivityName=".app.ViewPagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ViewPagerActivity" />
        </activity>
        <meta-data
            android:name="my_api_key"
            android:value="com.example.ivan_bakach.testpermission.app.PermissionTestClientActivity" />
    </application>

</manifest>
